/* 
指定キャラクターの立ち絵を表示
（差分対応）

target: ccfolia v1.24.9
OBSのブラウザソースに以下のURLを入れてください。
{ルームID}は各自、該当のルームのIDに置換すること。
{キャラクターID}は各自、該当のキャラクターのIDに置換すること。（キャラクター右クリックで出る）
URL: https://ccfolia.com/rooms/{ルームID}/characters/{キャラクターID}
author: 🍅
*/

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; visibility: hidden; }

/* 下のbutton要素を囲ってるdivの幅制御 */
.MuiAvatar-root {
    /* widthで画像の大きさを制御する。
    解像度をオリジナルに近づけたい場合は、ココを変更。
    OBS側の幅を変更するのも忘れずに。 */
    width: 600px;
    height: auto;
}

/* ステータスのキャラ絵の表示 */
.MuiAvatar-root img {
    visibility: visible;
}