
body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

/* ステータス幅変更 */
.iJGjsB {
    width: 300px;
}
/* キャラ画像非表示 */
.kbCooi {
    visibility: hidden;
    top: 10px;
}

/* イニシアチブ値表示、調整 */
.MuiBadge-badge {
    visibility: visible;
    height: 2.5rem;
    min-width: 2.5rem;
    top: 10px;
    /* border: solid 4px rgba(0,0,0,0.7); */
    border-radius: 2.5rem;
}

/* 文字サイズ変更 */
.MuiBadge-badge,
.MuiTypography-body2 {
    font-size: 2rem;
}

/* 背景色高さ変更 */
.HvPFV,
.iWWCh,
.dZilmu {
  height: 48px;
}

/* ステータスバー表示位置調整 */
.eqNpGd {
  position: relative;
  top: 1.8rem;
}

p
{
  display: flex;
  align-items: center;
  padding: 10px;
}