/* 
背景＋前景＋スクリーンパネル＋マーカーパネル＋立ち絵
（ルームチャットはOBSの対話で縮小してください）

target: ccfolia v1.31.2
OBSのブラウザソースに以下のURLを入れてください。
{ルームID}は各自、該当のルームのIDに置換すること。
URL: https://ccfolia.com/rooms/{ルームID}
author: 🍅
*/

/* OBS初期CSS */
body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

/* 以下の要素を非表示 */
/* fix */
/* 新ダイス */
.iumNvL,
/* ヘッダー */
.css-wga6ab,
/* 音量 */
.gtLUdJ,
/* カットイン音表示 */
.MuiSnackbar-root,
/* 拡大縮小 */
.frzXew,
/* ペンのアイコン */
.css-1hydt7q,
/* メッセージウィンドウ */
.css-175dgcc,
/* 動画ウィンドウ */
.MuiDialog-root,
/* キャラステータス */
.hVnzkT {
    display: none !important;
}