/* 
背景＋前景＋スクリーンパネル＋マーカーパネル＋立ち絵
（ルームチャットはOBSの対話で縮小してください）

target: ccfolia v1.26.0
OBSのブラウザソースに以下のURLを入れてください。
{ルームID}は各自、該当のルームのIDに置換すること。
URL: https://ccfolia.com/rooms/{ルームID}
author: 🍅
*/

/* OBS初期CSS */
body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

/* 以下の要素を非表示 */
/* fix */
/* ダイス */
.XLIUc,
/* ヘッダー */
.jfzGRs,
/* 音量 */
.ftGuWJ,
/* カットイン音表示 */
.MuiSnackbar-root,
/* 拡大縮小 */
.fhmotf,
/* ペンのアイコン */
.gRnDQB,
/* メッセージウィンドウ */
.MuiPaper-rounded,
/* キャラステータス */
.ixtgWZ {
    display: none !important;
}