/* 
メッセージウィンドウとダイスを表示
キャラ絵とアイコンは非表示

target: ccfolia v1.32.4
OBSのブラウザソースに以下のURLを入れてください。
{ルームID}は各自、該当のルームのIDに置換すること。
URL: https://ccfolia.com/rooms/{ルームID}
author: 🍅
*/

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; visibility: hidden; }

/* メッセージウィンドウの表示 */
.css-175dgcc {
    visibility: visible;
}

/* メッセージウィンドウ背景 */
.MuiPaper-root, .css-175dgcc{
    /* 背景色 */
    /* 削除 */
    background: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    /* メッセージウィンドウの影を消す */
    box-shadow: none !important;
}

/* メッセージウィンドウのアイコンを消す */
.MuiIconButton-edgeEnd {
    display: none;
}

/* ダイスを消す */
/* .dgmQwG {
    display: none;
} */
/* ダイスをウィンドウ下部に表示 */
/* fix🍅 */
.dgmQwG { bottom: 0 !important; }

/* ダイスのサイズ変更 */
/* fix🍅 */
.sc-eTTSxL {
    width: 50px;
    height: 50px;
}

/* スクロールバーを消す */
.jlKRNh::-webkit-scrollbar {
    display: none;
}

/* キャラを非表示 */
/* fix🍅 */
.ikEvVR {
    visibility: hidden;
}

/* フォントサイズ変更 */
/* 発言者 */
.MuiToolbar-dense *, .jlKRNh * {
    font-size: 1.25rem;
    text-shadow:
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.2em black;
}
/* 発言内容 */
/* fix🍅 */
.jlKRNh { height: 6rem !important; }