/* 
メッセージウィンドウとダイスを表示
キャラ絵とアイコンは非表示

target: ccfolia v1.32.4
OBSのブラウザソースに以下のURLを入れてください。
{ルームID}は各自、該当のルームのIDに置換すること。
URL: https://ccfolia.com/rooms/{ルームID}
author: 🍅
*/

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; visibility: hidden; }

/* メッセージウィンドウの表示 */
.css-175dgcc {
    visibility: visible;
}

/* メッセージウィンドウ背景 */
.MuiPaper-root, .css-175dgcc{
    /* 背景色 */
    /* 削除 */
    background: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    /* メッセージウィンドウの影を消す */
    box-shadow: none !important;
}

/* メッセージウィンドウのアイコンを消す */
.MuiIconButton-edgeEnd {
    display: none;
}

/* ダイスを消す */
/* .hQNdMF {
    display: none;
} */
/* ダイスをウィンドウ下部に表示 */
/* fix🍅 */
.hQNdMF { bottom: 0 !important; }

/* スクロールバーを消す */
.iQKgoc::-webkit-scrollbar {
    display: none;
}

/* ダイスのサイズ変更 */
/* fix🍅 */
.sc-hrlDGg {
    width: 50px;
    height: 50px;
}

/* キャラを表示、サイズ変更 */
/* fix🍅 */
.gCxpXs {
    visibility: visible;
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
    object-fit: cover;
    object-position: top;
    filter: drop-shadow(0 0 0.75rem white);
}

.gCxpXs[src=""] {
    visibility: hidden;
}

/* フォントサイズ変更 */
/* fix🍅 */
/* 発言者 */
.MuiToolbar-dense *, .iQKgoc * {
    font-size: 1.25rem;
    text-shadow:
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.1em black,
        0 0 0.2em black;
}
/* 発言内容 */
.iQKgoc { height: 6rem !important; }