/* 
メッセージウィンドウとダイスを表示
キャラ絵とアイコンは非表示

target: ccfolia v1.28.9
OBSのブラウザソースに以下のURLを入れてください。
{ルームID}は各自、該当のルームのIDに置換すること。
URL: https://ccfolia.com/rooms/{ルームID}
author: 🍅
*/

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; visibility: hidden; }

/* メッセージウィンドウの表示 */
.libMKL {
    visibility: visible;
}

/* メッセージウィンドウ背景 */
.MuiPaper-root {
    /* 背景色 */
    /* 削除 */
    /* background: none !important; */
    background-color: rgba(0, 0, 0, 0.25) !important;
    /* メッセージウィンドウの影を消す */
    box-shadow: none !important;
}

/* メッセージウィンドウのアイコンを消す */
.MuiIconButton-edgeEnd {
    display: none;
}

/* ダイスを消す */
/* .gkRMkm {
    display: none;
} */
/* ダイスをウィンドウ下部に表示 */
/* fix */
.gkRMkm { bottom: 0 !important; }

/* ダイスのサイズ変更 */
/* fix */
.sc-kLwpbo {
    width: 50px;
    height: 50px;
}

/* スクロールバーを消す */
.gCrBDr::-webkit-scrollbar {
    display: none;
}

/* キャラを非表示 */
.libMKL > img {
    visibility: hidden;
}

/* フォントサイズ変更 */
/* 発言者 */
.MuiToolbar-dense * { font-size: 1.125rem; }
/* 発言内容 */
/* fix */
.gCrBDr * { font-size: 1.25rem; }
.gCrBDr { height: 6rem !important; }