/* 
メッセージウィンドウとダイスを表示
キャラ絵とアイコンは非表示

target: ccfolia v1.26.0
OBSのブラウザソースに以下のURLを入れてください。
{ルームID}は各自、該当のルームのIDに置換すること。
URL: https://ccfolia.com/rooms/{ルームID}
author: 🍅
*/

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; visibility: hidden; }

/* メッセージウィンドウの表示 */
.MuiPaper-rounded {
    visibility: visible;
    /* 背景を透過 */
    /* background-color: transparent; */
}

/* メッセージウィンドウの影を消す */
.MuiPaper-elevation1 {
    box-shadow: none;
}

/* メッセージウィンドウ背景 */
/* .MuiPaper-root {
    background-color: transparent;
} */

/* メッセージウィンドウのアイコンを消す */
.MuiIconButton-edgeEnd {
    display: none;
}

/* ダイスを消す */
/* .cMNEPM {
    display: none;
} */
/* ダイスをウィンドウ下部に表示 */
/* fix */
.cMNEPM { bottom: 0 !important; }

/* ダイスのサイズ変更 */
/* fix */
.sc-hUhpet {
    width: 50px;
    height: 50px;
}

/* キャラを表示、サイズ変更 */
.MuiPaper-rounded > img {
    visibility: visible;
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
    border-radius: 50%;
    background: rgba(256, 256, 256, 0.5);
    border: solid 6px rgba(0, 0, 0, 0.8);
    object-fit: cover;
    object-position: top;
}

.MuiPaper-rounded > img[src=""] {
    visibility: hidden;
}

/* フォントサイズ変更 */
/* 発言者 */
.MuiToolbar-dense * { font-size: 1.125rem; }
/* 発言内容 */
/* fix */
.dphamX * { font-size: 1.25rem; }
.dphamX { height: 120px; }