/*
target: ccfolia v1.29.9
OBSのブラウザソースに以下のURLを入れてください。
{ルームID}は各自、該当のルームのIDに置換すること。
URL: https://ccfolia.com/rooms/{ルームID}/chat
author: 🍅
*/

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; visibility: hidden; }

/* 表示数制限 */
.css-1uzmcsd>div>div>div:nth-last-of-type(-n+2) {
    visibility: visible;
    top: 0px !important;
    z-index: 1300;
    animation:
        fadeIn  2s ease 0s,
        fadeOut 2s ease 12s forwards;
}

.css-15eea9h{
    padding: 0 !important;
}

.MuiList-root>div>div>div {
    width: fit-content;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}

:root {
    --background-color: rgba(0, 0, 0, 0.8);
    --background-padding: 8px;
    --border-color: rgba(255, 255, 255, 0.85);
    --border-image: url();
    --border-width: 2px;
    --border-radius: 20px;
    --border-shadow: 0;
    --font-color: rgb(255, 255, 255);
    --font-color-shadow: 0;
    --font-color-fail: rgb(245, 0, 87);
    --font-color-fail-shadow: 0;
    --font-color-success: rgb(33, 150, 243);
    --font-color-success-shadow: 0;
    --font-size: 1.1rem;
    --font-shadow: 0;
    --image-radius: 0%;
    --width: 500px;
    --line-clamp: 30;
    --chat-div-margin-bottom: 4rem;
}


.MuiListItemText-multiline {
    padding: var(--background-padding);
    background: var(--background-color);
    border: solid var(--border-width) var(--border-color);
    border-radius: var(--border-radius);
    border-image: var(--border-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: var(--border-shadow);
    align-items: center;
}
.MuiTypography-subtitle2,
.MuiTypography-body2 {
    font-size: var(--font-size)
}

p.MuiTypography-root,
.MuiTypography-colorTextSecondary {
    color: var(--font-color);
    text-shadow: var(--font-color-shadow);
}

p.MuiTypography-root {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp);
}

.MuiTypography-colorPrimary {
    color: var(--font-color-success);
    text-shadow: var(--font-color-success-shadow);
}

.MuiTypography-colorSecondary {
    color: var(--font-color-fail);
    text-shadow: var(--font-color-fail-shadow);
}

.MuiListItemText-primary,
.MuiTypography-caption {
    color: var(--font-color);
    text-shadow: var(--font-color-shadow);
}

/* 下からの位置調整 */
.MuiList-root {
    margin-bottom: var(--chat-div-margin-bottom);
}

/* 背景適応したmargin分フォームとの重なりを調整 */
.MuiList-root>div>div {
    scroll-margin-bottom: var(--chat-div-margin-bottom);
    margin-bottom: var(--chat-div-margin-bottom);
}

.MuiListItemAvatar-root {
    visibility: hidden;
}

/* 送信フォーム表示 */
/* タブ表示できるので、OBSの対話でタブを切り替えれば情報や雑談に変更可 */
.MuiTabs-root {
    visibility: visible;
}