/*
target: ccfolia v1.23.1
OBSのブラウザソースに以下のURLを入れてください。
{ルームID}は各自、該当のルームのIDに置換すること。
URL: https://ccfolia.com/rooms/{ルームID}/chat
author: 🍅
*/

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; visibility: hidden; }

.flHLrh .MuiListItemText-gutters:not(:nth-last-of-type(-n+4)) {
  display: none;
}
.flHLrh .MuiListItemText-gutters:nth-last-of-type(-n+4) {
    visibility: visible;
    animation:
        fadeIn  2s ease 0s,
        fadeOut 2s ease 8s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
