.flHLrh .MuiListItemText-root:not(:nth-last-of-type(-n+3)) {
  display: none;
}
.flHLrh .MuiListItemText-root:nth-last-of-type(-n+3) {
    visibility: visible;
    animation:
        fadeIn  2s ease 0s,
        fadeOut 2s ease 5s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
