/* 
ふきだし表示
以下の向き
（立ち絵）<。。。
OBSのブラウザソースにdiscord streamkit overlayのURLを入れてください。
色はOBSのフィルタの色補正で変更してください。
あとこれは完全にコピペでOBSに貼り付けること。importでは動かない。
author: 🍅
*/

/* 選択したユーザ以外の画像を非表示にする */
img.Voice_avatar__htiqH:not([src*="{discordのUserID}"])
{
  display: none;
}
/* CSS4が効くならこっちのがシンプル */
/* .Voice_voiceState__OCoZh:has(.Voice_avatar__htiqH:not([src*="{discordのUserID}"]))
{ display:none; } */


/* アイコンを立ち絵画像に差し替える、アイコン位置調整 */
img.Voice_avatar__htiqH {
  content:url("https://cdn.discordapp.com/attachments/1043465445337989221/1043873384020332614/move-R-D.png");
  height:auto !important;
  width:auto !important;
  border-radius:0 !important;
  opacity:0;
  /* CSS4なら以降は不要ここから */
  position: absolute;
  top: 0;
  left: 0;
  /* CSS4なら以降は不要ここまで */
}

/* 発話状態の設定 */
img.Voice_avatar__htiqH.Voice_avatarSpeaking__lE\+4m {
  border-color:rgba(0,0,0,0) !important;
  opacity:1;
}


/* ネームタグ削除 */
.Voice_user__8fGwX{ display: none; }

/* 色々消すヤツ */
body { background-color: rgba(0, 0, 0, 0); overflow: hidden; }
